body{
    background-image: url('./back.jpg');
}

div{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

#text{
    font-family: 'Roboto Slab', serif;   
    font-size: 40px;
    color: rgb(80, 46, 204);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #d81212;
}